# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
* List popular languages for Data Scienc
* Simple arithmetic expression
* Convert 200 minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

| Data Science Tools |
|----------|
| Jypter Notebook   | 
| Jupyter Studio    | 
| R Studio   |

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [4]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Younis